/**************************************************
 * TeX Style
 **************************************************/

.MathJax_MathML
{
	// to prevent overlapping with following text
	margin-right: 4px !important;
}

// custom item marker
li[data-mark]
{
	list-style: none;
	&:before
	{
		margin: auto 0.5em auto -1em;
		content: attr(data-mark);
	}
}

ol.cases
{
	list-style-type: none;
	counter-reset: item;

	& > li:before
	{
		content: "[" counter(item) "]";
		counter-increment: item;
		padding-right: 10px;
	}
}

  .secnum(@type: decimal) { content: counter(section, @type) ". "; }
 .ssecnum(@type: decimal) { content: counter(section, @type) "." counter(subsection) ". "; }
.sssecnum(@type: decimal) { content: counter(section, @type) "." counter(subsection) "." counter(subsubsection) ". "; }

article > section                     > h1.num:before {   .secnum; }
article > section > section           > h1.num:before {  .ssecnum; }
article > section > section > section > h1.num:before { .sssecnum; }

@bg: white;
.grad3(@center)
{
	background-image: -moz-linear-gradient(left, @bg, @center, @bg);
}

hr
{
	border: 0;
	height: 1px;
	.grad3(springgreen);

	&.appendix
	{
		counter-reset: section;
		.grad3(steelblue);
	}
}

aside.content > section                     > h1.num:before { content: "付録" counter(section, upper-latin) ". "; }
aside.content > section > section           > h1.num:before {  .ssecnum(upper-latin); }
aside.content > section > section > section > h1.num:before { .sssecnum(upper-latin); }

// Footnote
ol.footnotesList, #bib
{
	font-size: 0.8em;
	padding-top: 5px;

	& > li
	{
		text-indent: -1.5em;
		padding-left: 1.5em;
		vertical-align: top;
	}
}

a.footnoteLink
{
	border-width: 0;
}

a.footnoteBackref:extend(a.footnoteLink)
{
	padding-right: 0.25em;
}

.sublink(@h:300)
{
	@base: hsl(@h, 1, 0.5);
	color: @base;
	border-bottom-color: @base;
	vertical-align: bottom;
	font-size: small;
}

a.cite { .sublink(200); }
a.ref  { .sublink(160); }

.person
{
	@r: 7px;
	@bg: #f0fff4;
	@fg: black;
	color: @fg;
	border-radius: @r;
	border: 1px solid darken(@bg, 50%);
	background-color: @bg;
}

.grad(@left)
{
	background-image: linear-gradient(to right, @left, lighten(@left, 50%));
}

// 0: blue, 1: red, 2; green
.blockcolor(@angle: 0)
{
	@base: hsl(120 * (@angle - 1), 1, 40%);
	.grad(lighten(@base, 58%));

	ul > li:before
	{
		color: @base;
	}
	ol > li:before
	{
		color: white;
		background-color: @base;
	}

	h6
	{
		.grad(@base);

		& when (@angle = 0)
		{
			// 青でなく黒にする
			.grad(#444);
		}

		& when (@angle = 2)
		{
			// 緑は明るすぎるので暗くする
			.grad(hsl(120, 1, 20%));
		}
	}
}

.block
{
	@r: 7px;
	margin: 1.5% 0.5% !important;
	padding: 0 2px !important;
	font-family: inherit;
	text-align:left;
	border-radius: @r;
	//Chromeだと印刷時に影が黒くなってしまう
	//box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

	// ブロックの見出し
	h6
	{
		border-radius: @r @r 0 0;
		margin: 0 -2px 1% -2px;
		text-indent: 0.5em;
		line-height: 1.5em;
	}

	.blockcolor;
}


// plan
div.bb
{
	border: 1px inset #00ff00;
	background-color: #eeffee;
}

.multicols
{
	display: flex;

	& > div
	{
		margin: auto 5px !important;
	}
}
