/**************************************************
 * Common Style
 **************************************************/

@sidebarWidth: 150px;
@fg: black;
@bg: white;
@r: 7px;

@themeColor: hsl(210, 1, .3);

@borderColor: greyscale(@themeColor);
@borderWidth: 1px;
@borderStyle: solid;

@media screen {
	html {
		font-family: sans-serif;
	}
}
@media print {
	@page {
		size: A4 portrait;
		margin: 5mm;
	}
	html {
		font-family: serif;
	}
	body > section {
		break-after: page;
	}
}

html {
	max-width: 210mm; // A4
	margin: auto;
	padding: 1%;
	font-size: 10.5pt;
	counter-reset: section;
	color: @fg;
	background-color: @bg;
}

// Heading
h1, h2 {
	font: inherit;
	font-weight: bolder;
	margin: 5px -1%;
	padding: 5px 10px;
	border-left: 7px @borderStyle @themeColor;
}

section > h1 {
	counter-reset:  subsection;
	counter-increment: section;
	color: @bg;
	background-color: @themeColor;
	line-height: 200%;
}

section > section > h1 {
	counter-reset:  subsubsection;
	counter-increment: subsection;
	color: inherit;
	background-color: transparent;
	line-height: 100%;
	border-bottom: @borderWidth @borderStyle @borderColor;
}

section > section > section > h1,
section > section > section > h2 {
	counter-reset: none;
	counter-increment: subsubsection;
	line-height: 100%;
	border-bottom: 0;
}

// Text
p {
	margin: 4px auto;
	text-align: justify;
	text-indent: 1em;
}
/* emphasizing */
.highlight(@s: 0) {
	@base: spin(@themeColor, @s * 120);
	color: @base;
	background: linear-gradient(transparent 60%, fade(@base, 5%) 60%);
	font-style: normal;
}
strong, strong > dfn {
	.highlight(1);
}
dfn {
	.highlight(2);
}
em {
	.highlight(0);
}

// Link
a {
	color: hsl(0, 1, .3);
	text-decoration: underline dotted;
}

// Figure
figure {
	display: block;
	margin: auto;
	text-align: center;
}

figcaption {
	font-size: smaller;
}


// Object
img, object {
	display: inline;
	max-width: 100%;
}


// List
// http://web-dou.com/sample/dl.html
@headBColor: #def;

dl {
	@dtWidth: 100px;
	margin: 5px;
	border: @borderWidth @borderStyle @borderColor;
	border-radius: @r;
	border-top-width: 0;
	background-color: @headBColor;

	dt {
		float: left;
		clear: left;
		width: @dtWidth;
		padding: 5px;
		border-top: @borderWidth @borderStyle @borderColor;
		border-top-left-radius: @r;
		font-family: sans-serif;
	}

	dd {
		padding: 5px;
		border-top: @borderWidth @borderStyle @borderColor;
		border-top-right-radius: @r;
		margin-left: @dtWidth + 10px;
		background-color: @bg;
	}
}

ul, ol {
	margin: 0.5% auto;
}

// Table
table {
	margin: auto;
	background-color: @bg;

	thead, tfoot, th {
		background-color: @headBColor;
		color: @fg;
		text-align: center;
	}

	th {
		font-style: normal;
		font-family: sans-serif;
		border-radius: @r;
	}

	tbody > tr {
		@bg: #fffaff;
		color: @fg;
		&:nth-child(odd)  { background-color: darken(@bg, 2.5%); }
		&:nth-child(even) { background-color: @bg; }
	}
}

// dirty hack to highlight implicit header row.
// tbody > tr:first-child    { background-color: @headBColor; }

/**************************************************
 * Phrase Style
 **************************************************/

// Quotation
figcaption.cite
{
	text-align: right;
}

// http://unformedbuilding.com/articles/styling-blockquote-with-css3/
blockquote
{
	@g: darken(@bg, 26.5%);
	position: relative;
	padding: 0 10px 0 45px;
	border: @borderWidth @borderStyle;
	border-color: @g @bg @bg @g;
	border-radius: @r;
	background: darken(@bg, 5%);
	quotes: none;
	text-align: left;
	// be back of nav
	z-index: -1;

	&:before
	{
		position: absolute;
		top: -10px;
		left: 25px;
		width: 100px;
		color: @g;
		content: "Quote";
		transform: rotate(90deg);
		transform-origin: 0 50%;
		font: oblique 400 1.3em serif;
		text-shadow: 1px -1px 0 #fff;
	}
}

// stave
.st
{
	margin: 0.7em auto;
	font-family: serif, monospace;
}

/**************************************************
 * Chat Style
 **************************************************/

h2 a
{
	color: #9933ff;
	border: 0;
	font-size: small;
	vertical-align: top;
	text-decoration: none;
}

div.text
{
	margin: 2px auto;
	font-family: sans-serif;
	padding-left: 20px;
}

.s
{
	display: table-cell;
}

.by
{
	color: green;
	display: table-cell;
	padding-right: 5px;
	&:after
	{
		content: ":";
	}
}


//time
time
{
	color: gray;
	font-size: x-small;

	&:before { content: '('; }
	&:after  { content: ')'; }
	del + &:before { content:  '(deleted at '; }
	ins + &:before { content: '(inserted at '; }
}

/**************************************************
 * Diary Style
 **************************************************/

// Hiding text
.hide
{
	color: transparent;
	border-radius: @r;
	background-color: #e0ffff;
	&:hover
	{
		color: #9932cc;
		background-color: inherit;
	}
}
