/**************************************************
 * Common Style
 **************************************************/

@sidebarWidth: 150px;
@fg: black;
@bg: white;
@r: 7px;

@borderColor: #ccc;
@borderWidth: 1px;
@borderStyle: solid;

@page {
	size: A4;
	margin: 0;
}

html {
	max-width: 210mm; // A4
	margin: auto;
	padding: 1%;
//	font-size: 11pt;
	font-family: sans-serif;
	counter-reset: section;
	color: @fg;
	background-color: @bg;
}

.grad(@left) {
	background-image: -moz-linear-gradient(left, @left, @bg);
}

// Heading
h1, h2 {
	font: inherit;
	border-radius: @r;
	padding: 0;
}

.head(@s: 0) {
	@base: hsl(120 * @s, 1, 0.8);
	.grad(lighten(@base, 15%));
	border-color: @base;
}

h1 {
	border: @borderWidth solid;
	margin: 5px -1%;
	.head(2);
}
section > h1 {
	.head(0);
	counter-reset:  subsection;
	counter-increment: section;
}

section > section > h1 {
	.head(1);
	counter-reset:  subsubsection;
	counter-increment: subsection;
}

section > section > section > h1,
section > section > section > h2 {
	.head(0.5);
	counter-increment: subsubsection;
}

// Text
p {
	margin: 4px auto;
	text-align: justify;
	text-indent: 1em;
}
/* emphasizing */
.highlight(@s: 0) {
	@base: hsl(@s * 120, 1, .25);
	color: @base;
	background-color: fade(@base, 5%);
	font-style: normal;
}
strong, strong > dfn {
	.highlight(0);
}
dfn {
	.highlight(1);
}
em {
	.highlight(2);
}

// Link
a {
	color: hsl(0, 1, .75);
	text-decoration: underline dotted;
}

// Figure
figure {
	display: block;
	margin: auto;
	text-align: center;
}

figcaption {
	font-size: smaller;
}


// Object
img, object {
	display: inline;
	max-width: 100%;
}


// List
// http://web-dou.com/sample/dl.html
@headBColor: #def;

dl {
	@dtWidth: 100px;
	margin: 5px;
	border: @borderWidth @borderStyle @borderColor;
	border-radius: @r;
	border-top-width: 0;
	background-color: @headBColor;

	dt {
		float: left;
		clear: left;
		width: @dtWidth;
		padding: 5px;
		border-top: @borderWidth @borderStyle @borderColor;
		border-top-left-radius: @r;
		font-family: sans-serif;
	}

	dd {
		padding: 5px;
		border-top: @borderWidth @borderStyle @borderColor;
		border-top-right-radius: @r;
		margin-left: @dtWidth + 10px;
		background-color: @bg;
	}
}

ul, ol {
	margin: 0.5% auto;
}

// Table
table {
	margin: auto;
	background-color: @bg;

	thead, tfoot, th {
		background-color: @headBColor;
		color: @fg;
		text-align: center;
	}

	th {
		font-style: normal;
		font-family: sans-serif;
		border-radius: @r;
	}

	tbody > tr {
		@bg: #fffaff;
		color: @fg;
		&:nth-child(odd)  { background-color: darken(@bg, 2.5%); }
		&:nth-child(even) { background-color: @bg; }
	}
}

// dirty hack to highlight implicit header row.
// tbody > tr:first-child    { background-color: @headBColor; }

/**************************************************
 * Phrase Style
 **************************************************/

// Quotation
figcaption.cite
{
	text-align: right;
}

// http://unformedbuilding.com/articles/styling-blockquote-with-css3/
blockquote
{
	@g: darken(@bg, 26.5%);
	position: relative;
	padding: 0 10px 0 45px;
	border: @borderWidth @borderStyle;
	border-color: @g @bg @bg @g;
	border-radius: @r;
	background: darken(@bg, 5%);
	quotes: none;
	text-align: left;
	// be back of nav
	z-index: -1;

	&:before
	{
		position: absolute;
		top: -10px;
		left: 25px;
		width: 100px;
		color: @g;
		content: "Quote";
		transform: rotate(90deg);
		transform-origin: 0 50%;
		font: oblique 400 1.3em serif;
		text-shadow: 1px -1px 0 #fff;
	}
}

// stave
.st
{
	margin: 0.7em auto;
	font-family: serif, monospace;
}

/**************************************************
 * Chat Style
 **************************************************/

h2 a
{
	color: #9933ff;
	border: 0;
	font-size: small;
	vertical-align: top;
	text-decoration: none;
}

div.text
{
	margin: 2px auto;
	font-family: sans-serif;
	padding-left: 20px;
}

.s
{
	display: table-cell;
}

.by
{
	color: green;
	display: table-cell;
	padding-right: 5px;
	&:after
	{
		content: ":";
	}
}


//time
time
{
	color: gray;
	font-size: x-small;

	&:before { content: '('; }
	&:after  { content: ')'; }
	del + &:before { content:  '(deleted at '; }
	ins + &:before { content: '(inserted at '; }
}

/**************************************************
 * Diary Style
 **************************************************/

// Hiding text
.hide
{
	color: transparent;
	border-radius: @r;
	background-color: #e0ffff;
	&:hover
	{
		color: #9932cc;
		background-color: inherit;
	}
}
